<h1>StaticController#quotes</h1>
<p>Find me in app/views/static_controller/quotes.html.erb</p>
<p>If builders built buildings the way programmers wrote programs, then the first woodpecker that came along wound destroy civilization. - Gerald Weinberg</p>
